.main {
    &__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        &__card {
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 180px;
            height: 220px;
            margin-bottom: 0 0 10px 0;
            border-radius: 25px;
            transition: all 0.2s linear;
            border: solid 2px #261624;
            &:hover {
                transform: scale(1.02);
            }
            &__img {
                object-fit: cover;
                width: 180px;
                height: 180px;
                border-radius: 25px 25px 0 0;
                border-bottom: solid 1px #261624;
            }
            &__infos {
                &__name {
                    font-weight: bold;
                    margin: 0;
                    text-align: center;
                    height: 100%;
                }
            }
        }
    }
}
