.main {
    &__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        &__anchor {
            text-decoration: none;
            color: map-get($color, secondary);
            &__card {
                background-color: map-get($color, tertiary);
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 180px;
                height: 220px;
                margin-bottom: 0 0 10px 0;
                border-radius: 25px;
                transition: all 0.2s linear;
                border: solid 2px map-get($color, secondary);
                &:hover {
                    transform: scale(1.02);
                }
                &__imgDiv {
                    width: 180px;
                    height: 180px;
                    &__img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 22px 22px 0 0;
                        border-bottom: solid 1px map-get($color, secondary);
                    }
                }

                &__infos {
                    &__name {
                        font-weight: bold;
                        margin: 0;
                        text-align: center;
                        height: 100%;
                    }
                }
            }
        }
    }
}
