.header {
    background-color: map-get($color, primary);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px map-get($color, secondary);
    @include mobile {
        flex-direction: column;
    }
    &__logo {
        object-fit: cover;
        width: 300px;
        border-radius: 15px;
        @include mobile {
            align-self: center;
        }
    }
    &__nav {
        &__list {
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            padding: 0;
            margin: 0;
            width: 200px;
            height: 100%;
            @include mobile {
                width: 100%;
            }
            &__a {
                text-decoration: none;
                color: #261624;
                width: 100%;
                &#home {
                    border-right: map-get($color, secondary) 1px solid;
                    border-radius: 15px;
                }
                &#cart {
                    border-left: map-get($color, secondary) 1px solid;
                    border-radius: 15px;
                }

                &__element {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    font-weight: bold;
                    font-size: 1.2em;
                    &:hover {
                        background-color: map-get($color, tertiary);
                    }
                    &__fa {
                        color: map-get($color, secondary);
                    }
                }
            }
        }
    }
}
