.main {
    margin-bottom: 50px;
    &__greetings {
        text-align: center;
        margin: 40px 0 40px 0;
    }
    &__description {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 100px;
        @include mobile {
            margin-bottom: 50px;
        }
    }
    &__produit {
        @include mobile {
            margin-left: 10px;
        }
    }
}
