@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.main__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
@media all and (max-width: 767px) {
  .main__article {
    flex-direction: column;
    align-items: center;
  }
}
.main__article__anchor {
  text-decoration: none;
  color: #261624;
}
.main__article__anchor__card {
  background-color: #e1c8dc;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 180px;
  height: 220px;
  margin-bottom: 0 0 10px 0;
  border-radius: 25px;
  transition: all 0.2s linear;
  border: solid 2px #261624;
}
.main__article__anchor__card:hover {
  transform: scale(1.02);
}
.main__article__anchor__card__imgDiv {
  width: 180px;
  height: 180px;
}
.main__article__anchor__card__imgDiv__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 22px 22px 0 0;
  border-bottom: solid 1px #261624;
}
.main__article__anchor__card__infos__name {
  font-weight: bold;
  margin: 0;
  text-align: center;
  height: 100%;
}

body {
  background-color: #f3e9f1;
  font-family: "Nunito", sans-serif;
  color: #261624;
  padding: 0 20% 0 20%;
}
@media all and (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
}

.header {
  background-color: #f3e9f1;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #261624;
}
@media all and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  object-fit: cover;
  width: 300px;
  border-radius: 15px;
}
@media all and (max-width: 767px) {
  .header__logo {
    align-self: center;
  }
}
.header__nav__list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 100%;
}
@media all and (max-width: 767px) {
  .header__nav__list {
    width: 100%;
  }
}
.header__nav__list__a {
  text-decoration: none;
  color: #261624;
  width: 100%;
}
.header__nav__list__a#home {
  border-right: #261624 1px solid;
  border-radius: 15px;
}
.header__nav__list__a#cart {
  border-left: #261624 1px solid;
  border-radius: 15px;
}
.header__nav__list__a__element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2em;
}
.header__nav__list__a__element:hover {
  background-color: #e1c8dc;
}
.header__nav__list__a__element__fa {
  color: #261624;
}
.header__nav__list__a__element__cart {
  margin: 0;
}

.main {
  margin-bottom: 50px;
}
.main__title {
  text-align: center;
  margin: 40px 0 40px 0;
}
.main__description {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 100px;
}
@media all and (max-width: 767px) {
  .main__description {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 767px) {
  .main__product {
    margin-left: 10px;
  }
}
.main__prod {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #e1c8dc;
  border: solid 2px #261624;
  border-radius: 25px;
}
.main__prod__img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  border-right: solid 2px #261624;
}
.main__prod__infos {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}
.main__prod__infos__desc {
  margin: 10px 0 0 0;
}
.main__prod__infos__perso__title {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  font-size: 1.3em;
}
.main__prod__infos__perso__color {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main__prod__infos__perso__color__liste {
  appearance: none;
  border-top: 2px solid #261624;
  border-bottom: 2px solid #261624;
  width: 150px;
  text-align-last: center;
  font-size: 1em;
  border-radius: 10px;
  outline: none;
  background-color: #e1c8dc;
  font-family: "Nunito", sans-serif;
}
.main__prod__infos__perso__color__liste:focus {
  background-color: #f3e9f1;
}
.main__prod__infos__perso__color__liste__choice {
  background-color: #e1c8dc;
}
.main__prod__infos__perso__color__liste__choice:hover {
  background-color: #f3e9f1;
}
.main__prod__infos__pb {
  display: flex;
  justify-content: space-between;
}
.main__prod__infos__pb__price {
  font-weight: bold;
}
.main__prod__infos__pb__price__amount {
  font-weight: 400;
}
.main__prod__infos__pb__button {
  height: 40px;
  align-self: center;
  border-radius: 15px;
  border: none;
  border-top: 2px solid #261624;
  border-bottom: 2px solid #261624;
  background-color: #e1c8dc;
  font-size: 0.7em;
  font-family: "Nunito", sans-serif;
}
.main__prod__infos__pb__button:hover {
  background-color: #f3e9f1;
}
.main__thanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.main__thanking span {
  font-weight: bold;
}
.main__thanking__redirect {
  border-top: 2px solid #261624;
  border-bottom: 2px solid #261624;
  padding: 10px;
  text-decoration: none;
  color: #261624;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 20px;
}
.main__thanking__redirect:hover {
  background-color: #e1c8dc;
}

.footer {
  border-top: 2px solid #261624;
}
.footer__socials {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-size: 2.5em;
}
.footer__socials__a {
  text-decoration: none;
  color: #261624;
  width: 50px;
  height: 50px;
  text-align: center;
}
.footer__socials__a:hover {
  background-color: #e1c8dc;
  border-radius: 10px;
}
.footer__link {
  display: flex;
  justify-content: space-around;
}
.footer__link__text {
  text-decoration: none;
  color: #261624;
  font-weight: bold;
}

.main__table {
  margin-top: 30px;
  width: 100%;
  border: solid 2px #261624;
  text-align: center;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #e1c8dc;
}
.main__table__head {
  font-weight: bold;
}
.main__table__head__row__cell {
  border-bottom: 2px solid #261624;
  border-radius: 25px;
}
.main__table__body__row__cell {
  max-width: 219px;
}
.main__table__body__row__cell__quantity {
  width: 35px;
  text-align: center;
  background-color: #f3e9f1;
  border: solid 2px #261624;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}
.main__table__body__row__cell__delete {
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #e1c8dc;
}
.main__table__body__row__cell__delete:hover .main__table__body__row__cell__delete__icone {
  font-weight: bold;
}
.main__table__body__row__cell__delete__icone {
  font-size: 1.4em;
}
.main__table__foot {
  font-weight: bold;
}
.main__table__foot__row__cell {
  border-top: 2px solid #261624;
  border-radius: 25px;
}

.section {
  display: flex;
  justify-content: center;
  background-color: #e1c8dc;
  border: 2px solid #261624;
  border-radius: 25px;
  margin-bottom: 40px;
}
.section__form {
  width: 100%;
  padding: 20px 20px;
  color: #261624;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
}
.section__form__fullname {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.section__form__fullname__firstname__input {
  height: 20px;
  width: 200px;
  border: 1px solid #261624;
  border-radius: 10px;
  background-color: #f3e9f1;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
}
.section__form__fullname__lastname__input {
  height: 20px;
  width: 200px;
  border: 1px solid #261624;
  border-radius: 10px;
  background-color: #f3e9f1;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
}
.section__form__local {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.section__form__local__city__input {
  height: 20px;
  width: 200px;
  border: 1px solid #261624;
  border-radius: 10px;
  background-color: #f3e9f1;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
}
.section__form__local__address__input {
  height: 20px;
  width: 200px;
  border: 1px solid #261624;
  border-radius: 10px;
  background-color: #f3e9f1;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
}
.section__form__email {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.section__form__email__input {
  height: 20px;
  width: 200px;
  border: 1px solid #261624;
  border-radius: 10px;
  background-color: #f3e9f1;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
}
.section__form__order {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.section__form__order__button {
  background-color: #e1c8dc;
  border: solid 2px #261624;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
}
.section__form__order__button:hover {
  background-color: #f3e9f1;
}

/*# sourceMappingURL=style.css.map */
